:root {
  --el-header-height: 50px;
  --setting-top: #ebf3fe;
  --setting-bottom: #f7f8fa;
  --color-text: #85878a;
  --active-color-text: #515255;
  --active-color-background: #e9ecf4;
  --el-color-primary: #1677FF;
}

:root {
  --sider-dark-darken-bg-color: var(--sider-light-darken-bg);
  --setting-menu-type-picker: var(--setting-top);

}

/* 电脑深色夜间模式 */
html.dark {
  /* 左侧主背景色 */
  --setting-top: #53565c;
  --setting-bottom: #afb0b2;

  --sider-dark-darken-bg-color: var(--sider-dark-darken-bg);
  --setting-menu-type-picker: var(--setting-bottom);
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color var(--el-transition-duration-fast);
}