@use './element.scss';
@use './transition.scss';
@use './common.scss';
// 暗黑模型下用
@import 'element-plus/theme-chalk/dark/css-vars.css';

@import './base.css';
@import './icon.css';

// @import './iconfont/iconfont.css';
@import '//at.alicdn.com/t/c/font_4809477_rwsg4td4ak9.css'